.article {
  width: 80vw;
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.btn-more-content {
  color: rgb(19, 33, 159);

  &:hover {
    cursor: pointer;
    color: rgb(22, 197, 22);
  }
}