.header {
  padding: 10px;
  background-color: silver;
  display: flex;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 10vh;

  ul {
    display: flex;
    padding: 10px;
    margin: 10px;
  }
}